doctype html
html
    head
        title EvaEngine.js
        link(href='https://fonts.googleapis.com/css?family=Lato:100', rel='stylesheet', type='text/css')
        style.
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

            .container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
            }

            .title {
                font-size: 96px;
                color:#333;
                text-decoration:none;
            }
    body
        .container
            .content
                a.title(href="https://github.com/EvaEngine/EvaEngine.js") EvaEngine.js
